{
    "KPackageStructure": "Plasma/LookAndFeel",
    "KPlugin": {
        "Authors": [
            {
                "Name": "viscous-values"
            }
        ],
        "Category": "Plasma Look And Feel",
        "Description": "{{ var.description }}",
        "EnabledByDefault": true,
        "Id": "{{ var.id }}",
        "License": "GPL-3.0-or-later",
        "Name": "{{ var.name }}",
        "ServiceTypes": [
            "Plasma/LookAndFeel"
        ],
        "Version": "1.0.0",
        "Website": "https://github.com/viscous-values/umber"
    },
    "X-Plasma-APIVersion": "2",
    "X-Plasma-MainScript": "defaults"
}
