{
    "KPackageStructure": "Wallpaper/Images",
    "KPlugin": {
        "Authors": [
            {
                "Name": "Tyler"
            }
        ],
        "Description": "{{ var.wallpaper_description }}",
        "Id": "{{ var.scheme }}",
        "License": "GPL-3.0-or-later",
        "Name": "{{ var.name }}"
    }
}
