[kdeglobals][General]
ColorScheme={{ var.scheme }}

[kdeglobals][Icons]
Theme=Newaita-reborn-light-brown-dark

[kdeglobals][KDE]
widgetStyle=Breeze

[kcminputrc][Mouse]
cursorTheme=Umber-cursor

[ksplashrc][KSplash]
Theme={{ var.id }}

[kwinrc][org.kde.kdecoration2]
library=org.kde.breeze
theme=Breeze

[plasmarc][Theme]
name=default

[Wallpaper]
Image={{ var.scheme }}
